body {
	background-color: #ed553b ;
}

h3 {
	background-color: #20693B;
	color: #3caea3;
	padding: 40px;
	text-align: center;
}

p {
	color: #f6d55c;
}

img {
  padding: 40px;
}

div {
  text-align: center;
}
