body {
	background-color: #3bedd8 ;
}

h3 {
	background-color: #360be5;
	color: #000000;
	padding: 40px;
	text-align: center;
}

p {
	color: #5ff778;
}

img {
  padding: 40px;
}

div {
  text-align: center;
  font-size: 35px;
  color: #2c4ae2;
  font-family: Lucida Console, Courier New;
  
}
